h1{
    color:white;
}

body{
    background-color:rgb(92, 102, 69);
}
h6 {
    color: white;
    font-style: italic;
}
h5 {
    color: white;
    font-weight: bold !important;
}
h3{
    color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}



  